{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Owner</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: model.summary.register.name
          },
          actions: {
            items: [
              {
                href: "/register/name",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: model.summary.register.email
          },
          actions: {
            items: [
              {
                href: "/register/email",
                text: "Change",
                visuallyHiddenText: "email"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: model.summary.register.address | join("<br>")
          },
          actions: {
            items: [
              {
                href: "/register/address",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: model.summary.register.dateOfBirth
          },
          actions: {
            items: [
              {
                href: "/register/date-of-birth",
                text: "Change",
                visuallyHiddenText: "Date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "Telephone"
          },
          value: {
            text: model.summary.register.phone
          },
          actions: {
            items: [
              {
                href: "/register/phone-number",
                text: "Change",
                visuallyHiddenText: "Telephone number"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Dogs</h2>

    {% for dog in model.summary.dogs %}
      <h2 class="govuk-heading-m">{{ dog.name }}</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: dog.name
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: dog.dateOfBirth
            }
          },
          {
            key: {
              text: "Colour"
            },
            value: {
              text: dog.colour
            }
          },
          {
            key: {
              text: "Gender"
            },
            value: {
              text: dog.gender
            }
          },
          {
            key: {
              text: "Microchipped"
            },
            value: {
              text: dog.microchipped
            }
          },
          {
            key: {
              text: "Microchip Number"
            },
            value: {
              text: dog.microchipNumber
            }
          },
          {
            key: {
              text: "Preference"
            },
            value: {
              text: dog.preference
            }
          }
        ]
      }) }}

    {% endfor %}

    {{ govukButton({
        text: "Continue",
        href: model.formAction
      }) }}
</div>

{% endblock %}
