{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends 'layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Register ownership of a dangerous dog</h1>

    <p>Use this service if you are the owner of a dangerous dog.</p>

    <p>You can use this service to:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Register ownership of a dangerous dog
      </li>
    </ul>

    {{ govukButton({
      text: "Register ownership",
      href: "/name",
      isStartButton: true
    }) }}
  </div>
</div>

{% endblock %}
