{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="/name" novalidate>
      {{ govukInput({
        label: {
          text: "What is your name?",
          classes: "govuk-label--l",
          isPageHeading: false
        },
        id: "name",
        name: "name",
        value: name
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </form>
</div>

{% endblock %}
