{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/microchip-number",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Owner</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: model.register.name
          },
          actions: {
            items: [
              {
                href: "/name",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: model.register.email
          },
          actions: {
            items: [
              {
                href: "/email",
                text: "Change",
                visuallyHiddenText: "email"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: model.register.address | join("<br>")
          },
          actions: {
            items: [
              {
                href: "/address",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: model.register.dob
          },
          actions: {
            items: [
              {
                href: "/owner-dob",
                text: "Change",
                visuallyHiddenText: "Date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "Telephone"
          },
          value: {
            text: model.register.phone
          },
          actions: {
            items: [
              {
                href: "/phone",
                text: "Change",
                visuallyHiddenText: "Telephone number"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Dog</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: model.dog.name
          },
          actions: {
            items: [
              {
                href: "/dog-name",
                text: "Change",
                visuallyHiddenText: "Dog name"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: model.dog.dob
          },
          actions: {
            items: [
              {
                href: "/dog-dob",
                text: "Change",
                visuallyHiddenText: "Dog date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "Colour"
          },
          value: {
            text: model.dog.colour
          },
          actions: {
            items: [
              {
                href: "/dog-colour",
                text: "Change",
                visuallyHiddenText: "Dog colour"
              }
            ]
          }
        },
        {
          key: {
            text: "Gender"
          },
          value: {
            text: model.dog.gender
          },
          actions: {
            items: [
              {
                href: "/dog-gender",
                text: "Change",
                visuallyHiddenText: "Dog gender"
              }
            ]
          }
        },
        {
          key: {
            text: "Microchipped"
          },
          value: {
            text: model.dog.microchipped
          },
          actions: {
            items: [
              {
                href: "/microchipped",
                text: "Change",
                visuallyHiddenText: "microchipped"
              }
            ]
          }
        },
        {
          key: {
            text: "Microchip Number"
          },
          value: {
            text: model.dog.microchipNumber
          },
          actions: {
            items: [
              {
                href: "/microchip-number",
                text: "Change",
                visuallyHiddenText: "microchipNumber"
              }
            ]
          }
        },
        {
          key: {
            text: "Preference"
          },
          value: {
            text: model.dog.preference
          },
          actions: {
            items: [
              {
                href: "/preference",
                text: "Change",
                visuallyHiddenText: "preference"
              }
            ]
          }
        }
      ]
    }) }}

    {{ govukButton({
        text: "Continue",
        href: "/confirmation"
      }) }}
</div>

{% endblock %}
